# PORT=3000
# NODE_ENV=production
# BAKONG_DEV_BASE_API_URL=https://sit-api-bakong.nbc.gov.kh/v1
# BAKONG_PROD_BASE_API_URL=https://api-bakong.nbc.gov.kh/v1
# BAKONG_ACCOUNT_USERNAME=YOU_BAKONG_ACCOUT_NAME
# BAKONG_MERCHANT_ID=YOUR_BAKONG_MERCHANT_ID #Optional
# BAKONG_ACCESS_TOKEN=YOUR_BAKONG_TOKEN